*{
  margin: 0;
}
.app{
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.app_posts{
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  
}
.app_header{
  background-color: white;
  object-fit: contain;
  z-index: 1;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.app_headerImage{
  object-fit: contain;
}

.signup{
  display: flex;
  flex-direction: column;
  max-width:300px !important;
}
.makeStyles-paper-1{
  width:300px !important;
}
h3{
  text-align: center;
  margin-bottom: 20px;
}